<header class="header">

  
  <label class="header__mobilemenu" for="menu">    
    <i class="bi bi-list"></i>
  </label>

  <input hidden type="checkbox" id="menu" />
  
  <nav class="menu">
    <a class="menu__link" href="#" >Home</a>
    <a class="menu__link" href="#gallery" >Galeria</a>
    <a class="menu__link" href="#services" >Serviços</a>
    <a class="menu__link" href="#" >Contatos</a>
    <a class="menu__link" href="#" >Quem somos</a>
  </nav>


  <div class="header__cover">
    <img src="../../assets/pexels-alexandre-saraiva-carniat low.jpg" width="100%" />
  </div>
</header>
          