<header class="header position-relative" id="topo">

  <label class="header__mobilemenu d-flex-inline p-2 align-items-center justify-content-center border-none" for="menu">
    <i class="bi bi-list"></i>
  </label>

  <input hidden type="checkbox" id="menu" />

  <nav class="menu">
    <a class="menu__link" href="#">Home</a>
    <a class="menu__link" routerLink="galeria" >Galeria</a>
    <a class="menu__link" href="#services">Serviços</a>
    <a class="menu__link" href="#contatos">Contatos</a>
    <a class="menu__link" href="#">Quem somos</a>
  </nav>


  <div class="position-relative">
    <div class="position-relative">
      <img src="../../assets/pexels-pavel-danilyuk-7518689.jpg" width="100%" />
      <div class="overlay"></div>
    </div>

    <div class="position-absolute top-0 bottom-0 start-0 end-0 d-flex align-items-center justify-content-center pe-2 gap-4" >
      <div class="text-white text-center">
        <h4>Renove seu visual</h4>
        <h3 class="text-warning">Barbearia</h3>
        <p>Faça já a sua reserva</p>
        <button class="btn btn-danger">Fazer uma reserva</button>
      </div>
      <img src="../../assets/pexels-pavel-danilyuk-7518760.jpg" width="20%" class="promo" />
    </div>
  </div>
</header>