<header class="header position-relative" id="topo">

  <label class="header__mobilemenu d-flex-inline p-2 align-items-center justify-content-center border-none" for="menu">
    <i class="bi bi-list"></i>
  </label>

  <input hidden type="checkbox" id="menu" />

  <nav class="menu">
    <a class="menu__link" href="#">Home</a>
    <a class="menu__link" href="#gallery">Galeria</a>
    <a class="menu__link" href="#services">Serviços</a>
    <a class="menu__link" href="#">Contatos</a>
    <a class="menu__link" href="#">Quem somos</a>
  </nav>


  <div class="overlay position-relative">
    <img src="../../assets/pexels-pavel-danilyuk-7518689.jpg" width="100%" />

    <div class="position-absolute top-0 bottom-0 d-flex align-items-center justify-content-end pe-2" >
      <img src="../../assets/pexels-pavel-danilyuk-7518687.jpg" width="20%" />
    </div>
  </div>
</header>