<footer>

  <div>

    <ul class="links" type="none">
      <h3>Links</h3>
      <li><a class="link" href="#services">Serviços</a></li>
      <li><a class="link" href="#gallery">Galeria</a></li>
      <li><a class="link" href="#contatos">Contatos</a></li>
      <li><a class="link" href="#quemsomos">Quem somos</a></li>
      <li><a class="link" href="#topo">Voltar ao topo</a></li>
    </ul>
    
    <ul class="links" type="none">
      <h3>Links</h3>
      <li><a class="link" href="#services">Serviços</a></li>
      <li><a class="link" href="#gallery">Galeria</a></li>
      <li><a class="link" href="#contatos">Contatos</a></li>
      <li><a class="link" href="#quemsomos">Quem somos</a></li>
      <li><a class="link" href="#topo">Voltar ao topo</a></li>
    </ul>
    
    <ul class="links" type="none">
      <h3>Links</h3>
      <li><a class="link" href="#services">Serviços</a></li>
      <li><a class="link" href="#gallery">Galeria</a></li>
      <li><a class="link" href="#contatos">Contatos</a></li>
      <li><a class="link" href="#quemsomos">Quem somos</a></li>
      <li><a class="link" href="#topo">Voltar ao topo</a></li>
    </ul>

    <form class="subscribe">
      <h4>Assine agora e fique por dentro de nossas promoções</h4>
      <input class="form-control" type="email" required placeholder="Insira seu email aqui" >    
      <button class="btn btn-danger">ENVIAR</button>
    </form>

  </div>

  <div>

    <div>
      <h3><strong>LOGO</strong></h3>
    </div>

    <div class="footer__social">
      <i class="bi bi-twitter"></i>

      <i class="bi bi-facebook"></i>

      <i class="bi bi-instagram"></i>

      <i class="bi bi-youtube"></i>
    </div>

  </div>

  <div>
  
    &copy; BARBEARIA TODOS OS DIREITOS RESERVADOS.
  
  </div>

</footer>
