<footer class="d-flex flex-column align-items-center">

  <div class="p-2 flex-sm-row align-items-sm-start d-flex flex-column align-items-center w-100 justify-content-between">

    <ul class="list-group list-group-flush text-center text-sm-start" type="none">
      <li class="list-group-item border-0">Links</li>
      <li class="list-group-item border-0"><a class="text-decoration-none" href="#services">Serviços</a></li>
      <li class="list-group-item border-0"><a class="text-decoration-none" href="#gallery">Galeria</a></li>
      <li class="list-group-item border-0"><a class="text-decoration-none" href="#contatos">Contatos</a></li>
      <li class="list-group-item border-0"><a class="text-decoration-none" href="#quemsomos">Quem somos</a></li>
      <li class="list-group-item border-0"><a class="text-decoration-none" href="#topo">Voltar ao topo</a></li>
    </ul>

    <ul class="list-group list-group-flush text-center text-sm-start" type="none">
      <li class="list-group-item border-0">Links</li>
      <li class="list-group-item border-0"><a class="text-decoration-none" href="#services">Serviços</a></li>
      <li class="list-group-item border-0"><a class="text-decoration-none" href="#gallery">Galeria</a></li>
      <li class="list-group-item border-0"><a class="text-decoration-none" href="#contatos">Contatos</a></li>
      <li class="list-group-item border-0"><a class="text-decoration-none" href="#quemsomos">Quem somos</a></li>
      <li class="list-group-item border-0"><a class="text-decoration-none" href="#topo">Voltar ao topo</a></li>
    </ul>

    <ul class="list-group list-group-flush text-center text-sm-start" type="none">
      <li class="list-group-item border-0">Links</li>
      <li class="list-group-item border-0"><a class="text-decoration-none" href="#services">Serviços</a></li>
      <li class="list-group-item border-0"><a class="text-decoration-none" href="#gallery">Galeria</a></li>
      <li class="list-group-item border-0"><a class="text-decoration-none" href="#contatos">Contatos</a></li>
      <li class="list-group-item border-0"><a class="text-decoration-none" href="#quemsomos">Quem somos</a></li>
      <li class="list-group-item border-0"><a class="text-decoration-none" href="#topo">Voltar ao topo</a></li>
    </ul>

    <form class="p-3 text-center d-flex-inline align-items-center">
      <h4>Receba nossas promoções</h4>
      <input class="form-control my-2" type="email" required placeholder="Insira seu melhor email aqui">
      <button class="btn btn-danger">ENVIAR</button>
    </form>

  </div>

  <div class="d-flex flex-column flex-sm-row justify-content-evenly w-100 align-items-center">

    <div class="text-center">
      <h1 class="m-0 logo"><strong>LOGO</strong></h1>
    </div>

    <div class="d-flex justify-content-between align-items-center fs-4">
     <div class="bg-secondary rounded-2 mx-2 d-flex align-items-center justify-content-center">
        <i class="mx-2 bi bi-twitter"></i>
     </div>

     <div class="bg-secondary rounded-2 mx-2 d-flex align-items-center justify-content-center">
        <i class="mx-2 bi bi-facebook"></i>
     </div>

     <div class="bg-secondary rounded-2 mx-2 d-flex align-items-center justify-content-center">
        <i class="mx-2 bi bi-instagram"></i>
     </div>

     <div class="bg-secondary rounded-2 mx-2 d-flex align-items-center justify-content-center">
        <i class="mx-2 bi bi-youtube"></i>
     </div>
    </div>

  </div>

  <div class="text-center py-2">

    &copy; BARBEARIA TODOS OS DIREITOS RESERVADOS.

  </div>

</footer>