<footer>
  <div class="footer__widget" >

    <div type="none" class="footer__widget__links">
      <h3>Title</h3>
      <ul>
        <li>links</li>
        <li>links</li>
        <li>links</li>
        <li>links</li>
        <li>links</li>
      </ul>
    </div>

    <div type="none" class="footer__widget__links">
      <h3>Title</h3>
      <ul>
        <li>links</li>
        <li>links</li>
        <li>links</li>
        <li>links</li>
        <li>links</li>
      </ul>
    </div>

    <div type="none" class="footer__widget__links">
      <h3>Title</h3>
      <ul>
        <li>links</li>
        <li>links</li>
        <li>links</li>
        <li>links</li>
        <li>links</li>
      </ul>
    </div>

  </div>

  <div class="footer__foot">
    &copy; BARBEARIA TODOS OS DIREITOS RESERVADOS.
  </div>
</footer>
