footer {
  background-color: var( --black-coffee);
  color: var(--dark-orange) !important;
}

.footer__top {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.links {
  list-style: none;
  padding: 0;
}

.link {
  width: 100%;
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid var(--dark-orange);
  text-decoration: none;
  color: var(--dark-orange) !important;
} 

.footer__bottom {
  width: 100%;
  text-align: center;
  font-weight: 500;
  padding: 1rem 0;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}

.subscribe {
  background-color: #130E1A;
  text-align: center;
  display: flex;
  justify-content: space-between;
  row-gap: 1rem;
  flex-direction: column;
  padding: 1rem;
}

.subscribe__input {
  border:none;
  padding: .25rem 0.5rem;
  outline: none;
  width: 100%;
}

.subscribe__button {
  background-color: var(--ruby-red);
  color: var( --baby-powder);
  border: none;
  padding: .5rem 0.25rem;
  width: 100%;
  font-weight: 500;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

@media (min-width: 768px) {
  .footer__top {
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
  }
  .links {
      width: 50%;
      margin: 0;
  }
  .link {
    border: none;
    width: auto;
  }
}