.customers {
    display: flex;
    flex-direction: column;
  }
  
  .customers__title {
    width: 100%;
  }
  
  .customers__comments {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  
  .customers__comentary {
    display: flex;
    column-gap: 1rem;
  
    box-shadow: 0px 6px 10px rgba(0, 20, 255,.1);
    border-radius: 1rem;
    padding: 1rem;
  }
  
  .customers__comentary__photo {
    flex: 1;
  }
  
  .customers__comentary__photo  img {
    border-radius: 1.5rem;
    object-fit: cover;
    filter:drop-shadow(0px 6px 10px rgba(0, 20, 255,.1));
  }
  
  .customers__comentary_description {
    flex: 2;
  }
  
  @media (min-width: 1024px) {
    .customers__comments {
      flex-direction: row !important;
      column-gap: 1rem;
    }
    .customers__comentary {
      width: 50%;
    }
  }