caption {
  width: 100%;
}

table {
  width: 100%;
  margin: 1rem 0;
}

table, tr, td {
  border: 1px solid #000;
}


tr {
  background-color: cornflowerblue;
}

td {
  color: whitesmoke;
  padding: .5rem 1rem;
}
