.gallery {
  position: relative;
}
.scroll {
  display: flex;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.gallery img {
  width: 100%;
}

.button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 2rem;
  height: 2rem;
  background-color: #000;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.button:hover {
  opacity: .7;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
