<section class="gallery" id="gallery">
    <h3>Galeria</h3>

    <div class="gallery__header">
      <input checked hidden class="gallery__selector" type="radio" name="selector" id="first-image" />
      <img class="gallery__header__img"  src="../assets/corte_barba.jpg" width="100%" />
      
      <input hidden class="gallery__selector" type="radio" name="selector" id="second-image" />
      <img class="gallery__header__img"  src="../assets/corte_barba_2.jpg" width="100%" />

      <input hidden class="gallery__selector" type="radio" name="selector" id="third-image" />
      <img class="gallery__header__img"  src="../assets/pexels-cottonbro-3998422.jpg" width="100%" />
    </div>
    
    <div class="gallery__images">

      <label class="gallery__images_img" for="first-image">
        <img src="../assets/corte_barba.jpg" width="100%" />
      </label>

      <label class="gallery__images_img" for="second-image">
        <img src="../assets/corte_barba_2.jpg" width="100%" />
      </label>

      <label class="gallery__images_img" for="third-image">
        <img src="../assets/pexels-cottonbro-3998422.jpg" width="100%" />
      </label>

    </div>
    
  </section>