<h1 class="text-center py-1">Galeria</h1>

<div class="d-flex flex-wrap gap-1 py-1 w-full justify-content-center">
    <img src="../../assets/pexels-pavel-danilyuk-7518687.jpg" class="photo" />    
    <img src="../../assets/pexels-pavel-danilyuk-7518728.jpg" class="photo" />
    <img src="../../assets/pexels-pavel-danilyuk-7518757.jpg" class="photo" />

    <img src="../../assets/pexels-pavel-danilyuk-7518730.jpg" class="photo" />
    
    <img src="../../assets/pexels-pavel-danilyuk-7518766.jpg" class="photo" />

    <img src="../../assets/servico_barba.jpg" class="photo" />
</div>