<div class="">
  <app-header></app-header>

  <main>

    <section>
      <img src="../assets/barber-services.jpg" width="100%"/>
      <div class="services">
        <h3>Serviços</h3>
        <p>Corte de cabelo</p>
        <p>Barba</p>
        <p>Tatuagem</p>
      </div>
    </section>

    <section>
      <h3>Galeria</h3>
    </section>

    <section>
      <h3>Onde estamos</h3>
      <iframe width='100%' height='400px' src="https://api.mapbox.com/styles/v1/alex5ander/cl12vwxid002g16s2kan1pqdz.html?zoomIn=.9&title=false&access_token=pk.eyJ1IjoiYWxleDVhbmRlciIsImEiOiJjbDEydmR1aXMzOGVnM2xvcHdobjd6dzlhIn0.hIqWvFm8sdNF_HbSWwpzeQ&zoomwheel=false#12/-24.0048966/-48.8900757" title="Basic" style="border:none;"></iframe>
    </section>

  </main>

  <app-footer></app-footer>
</div>
