main {
  display: flex;
  flex: 1;
  flex-direction: column;

  row-gap: 2rem;

  left: 0;
  right: 0;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-direction: column;
}

@media (min-width: 768px){
  main {
    width: 75%;
  }
}
