<app-header></app-header>

<main class="container">

  <div class="d-flex justify-content-between align-items-start my-4">
    <div class="pt-3">
      <h3>Title</h3>
      <p>ad asda sd</p>
      <p>asdsd asdas d</p>
    </div>

    <img src="../assets/pexels-pavel-danilyuk-7518728.jpg" width="50%" />
  </div>

  <div class="d-flex justify-content-between align-items-start my-4">
    <img src="../assets/pexels-pavel-danilyuk-7518757.jpg" width="50%" />

    <div class="pt-3">
      <h3>Title</h3>
      <p>ad asda sd</p>
      <p>asdsd asdas d</p>
    </div>
  </div>

  <app-services></app-services>

  <app-map></app-map>

  <app-clients></app-clients>

</main>

<app-footer></app-footer>