<div id="services" class="my-4">
    <h3 class="text-center">Nossos serviços</h3>

    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column flex-fill align-items-center justify-content-center">
            <h3 class="text-center">Corte</h3>
            <img src="../../assets/scissors.png" width="50%" />
        </div>

        <div class="d-flex flex-column flex-fill align-items-center justify-content-center">
            <h3 class="text-center">Barba</h3>
            <img src="../../assets/razor.png" width="50%" />
        </div>

        <div class="d-flex flex-column flex-fill align-items-center justify-content-center">
            <h3 class="text-center">Penteado</h3>
            <img src="../../assets/scissor-and-comb.png" width="50%" />
        </div>
    </div>
</div>