<div id="services" class="my-2">
    <h3 class="text-center">Nossos serviços</h3>

    <div class="d-flex justify-content-spacebetween">
        <div class="border bg-secodnary p-1 d-flex flex-column flex-fill">
            <h3 class="text-center">Corte</h3>
            <img src="../../assets/servico_corte.jpg" width="100%" />
        </div>

        <div class="border bg-secodnary p-1 d-flex flex-column flex-fill">
            <h3 class="text-center">Barba</h3>
            <img src="../../assets/servico_barba.jpg" width="100%" />
        </div>
    </div>
</div>