<div class="d-flex justify-content-center align-items-start my-4 gap-4">
    <div>
      <h3>Lorem ipsum dolor</h3>
      <p class="m-0">
        sit amet, consectetur adipiscing elit. Aenean porttitor quam et facilisis vehicula.
      </p>
    </div>

    <img src="../assets/pexels-pavel-danilyuk-7518728.jpg" class="main-img" />
  </div>

  <div class="d-flex justify-content-center align-items-start my-4 gap-4">
    <img src="../assets/pexels-pavel-danilyuk-7518757.jpg" class="main-img" />

    <div>
      <h3>Lorem ipsum dolor</h3>
      <p class="m-0">
        sit amet, consectetur adipiscing elit. Aenean porttitor quam et facilisis vehicula.
      </p>
    </div>
  </div>

  <app-map></app-map>

  <app-clients></app-clients>